fastapi==0.115.12
uvicorn==0.34.2
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10

opentelemetry-sdk==1.33.1
opentelemetry-exporter-otlp==1.33.1
opentelemetry-distro==0.54b1
opentelemetry-instrumentation-fastapi==0.54b1
opentelemetry-instrumentation-redis==0.54b1
opentelemetry-instrumentation-psycopg2==0.54b1
opentelemetry-instrumentation-logging==0.54b1
opentelemetry-instrumentation-requests==0.54b1
opentelemetry-instrumentation-httpx==0.54b1
httpx==0.28.0